In [1]:
import pandas as pd
import numpy as np
from sklearn import tree, model_selection

In [15]:
HPR_TRAIN = pd.read_csv("High_product_risk.csv")
HPR_TEST = pd.read_csv("HPR_test.csv")

In [17]:
HPR_TRAIN.drop('Unnamed: 0', axis=1,inplace = True)

In [11]:
HPR.head(5)

,TOTAL_REVIEWER_EXPERIENCE,TOTAL_ANALYST_EXPERIENCE,product_test_classification,invalid_oos_oot,ANALYST_PRODUCT_TEST_EXPERIENCE,ANALYST_TEST_EXPERIENCE,ANALYST_PRODUCT_EXPERIENCE,ANALYST_RATING,REVIEWER_RATING,HOLIDAY,Manager.Span,Night_shift
0,3,465,3,0,1.0,20.0,2.0,2.0,3.0,0,26.0,0
1,161,197,3,0,3.0,71.0,7.0,NaN,3.0,0,8.0,0
2,16,147,3,0,NaN,NaN,1.0,NaN,3.0,1,22.0,0
3,438,22,3,0,1.0,6.0,3.0,NaN,3.0,0,9.0,0
4,954,457,3,0,221.0,267.0,267.0,4.0,3.0,0,28.0,0

In [19]:
HPR_TEST.drop('Unnamed: 0', axis=1,inplace = True)

In [20]:
HPR_TEST.head(5)

,TOTAL_REVIEWER_EXPERIENCE,TOTAL_ANALYST_EXPERIENCE,product_test_classification,invalid_oos_oot,ANALYST_PRODUCT_TEST_EXPERIENCE,ANALYST_TEST_EXPERIENCE,ANALYST_PRODUCT_EXPERIENCE,ANALYST_RATING,REVIEWER_RATING,HOLIDAY,Manager.Span,Night_shift
0,281,317,3,0,16.0,77.0,28.0,NaN,3.0,0,71.0,0
1,336,45,3,0,3.0,20.0,4.0,NaN,3.0,0,25.0,0
2,103,21,3,0,NaN,8.0,NaN,3.0,3.0,0,22.0,0
3,173,419,3,0,1.0,4.0,2.0,2.0,4.0,0,26.0,0
4,274,40,3,0,2.0,6.0,4.0,4.0,3.0,0,71.0,0

In [25]:
features = ['TOTAL_REVIEWER_EXPERIENCE','TOTAL_ANALYST_EXPERIENCE','product_test_classification','ANALYST_PRODUCT_TEST_EXPERIENCE','ANALYST_TEST_EXPERIENCE','ANALYST_PRODUCT_EXPERIENCE','ANALYST_RATING','REVIEWER_RATING','HOLIDAY','Manager.Span','Night_shift']
X_train= HPR_TRAIN[features]
y_train= HPR_TRAIN[['invalid_oos_oot']]
#results = model_selection.cross_validate(classifier, X_train,y_train, cv =10)

NameError: name 'model_selection' is not defined

In [22]:
X_train.head(3)

,TOTAL_REVIEWER_EXPERIENCE,TOTAL_ANALYST_EXPERIENCE,product_test_classification,ANALYST_PRODUCT_TEST_EXPERIENCE,ANALYST_TEST_EXPERIENCE,ANALYST_PRODUCT_EXPERIENCE,ANALYST_RATING,REVIEWER_RATING,HOLIDAY,Manager.Span,Night_shift
0,3,465,3,1.0,20.0,2.0,2.0,3.0,0,26.0,0
1,161,197,3,3.0,71.0,7.0,NaN,3.0,0,8.0,0
2,16,147,3,NaN,NaN,1.0,NaN,3.0,1,22.0,0

In [23]:
y_train.head(3)

   invalid_oos_oot
0                0
1                0
2                0

In [2]:
classifier = tree.DecisionTreeClassifier()
dt_grid = {'max_depth':[3,4,5,6,7,8,9,10],'criterion':['gini', 'entropy']}
grid_classifier = model_selection.GridsearchCV(classifier, dt_grid, cv=10,refit=True, return_train_score= True)
grid_classifier.fit(X_train, y_train)
results = grid_classfier.CV_results_
print(results.get('params'))
print(results.get('mean_test_score'))
print(results.get('mean_train_score'))
print(grid_classifier.best_params_)
print(grid_classifier.best_score_)
final_model = grid_classifer.best_estimator_

AttributeError: module 'sklearn.model_selection' has no attribute 'GridsearchCV'